{% extends "base.html" %}

{% block contents %}
    <h1>Criminal Records List</h1>
    <!--suppress HtmlUnknownTarget -->
    <a href="/records/create/">Create new record</a>

    {% if records %}
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Person Name</th>
                <th>Offense</th>
                <th>Case Number</th>
                <th>Case Status</th>
                <th>Committed At</th>
            </tr>
            {% for record in records %}
            <tr>
                <td>{{ record.id }}</td>
                <td>{{ record.user.last_name }}, {{ record.user.first_name }}</td>
                <td>{{ record.offense }}</td>
                <td>{{ record.case_number }}</td>
                <td>{{ record.case_status }}</td>
                <td>{{ record.committed_at }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        <div class="alert alert-warning">No criminal records as of now</div>
    {% endif %}
{% endblock %}
